
html, body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

.outernav {
  z-index: 2;
  box-shadow: 0 0 3em 0em #000;
  flex: 0 0 4em;
  background: url('assets/dirt.png');
}

.outernav .nav {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8));
}

.outernav .nav img.logo {
  margin: 0.7em;
  height: 2.4em;
  width: auto;
}

.outernav .nav a.navItem {
  white-space: nowrap;
  font-weight: bold;
  color: #FFF;
  padding: 1.5em 0.5em;
  text-decoration: none;
  transition: background-color 250ms ease;
}

.outernav .nav .navItem:last-child {
  margin-right: 5px;
}

.outernav .nav a.navItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 250ms ease;
}

.outercontent {
  z-index: 1;
  max-height: calc(100vh - 4em);
  overflow: auto;
  background: url('assets/stone.png');
}

.outercontent .content {
  color: #AAA;
  padding: 1em;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.outercontent .content .main .left {
  flex: 2;
  padding: 1em;
}

.outercontent .content .main .left iframe {
  min-height: 20em;
}

.outercontent .content .main .right {
  align-items: center;
  padding: 1em;
}

.outercontent .content .main .right a {
  min-width: 70%;
  margin-top: 1em;
  color: #FFF;
  text-shadow: 1px 1px #333;
  text-align: center;
  padding: 0.7em 0;
  border-radius: 3px;
}

.outercontent .content .main .right a.orange {
  background: linear-gradient(to bottom, #f5a22b, #d36d28);
}

.outercontent .content .main .right a.blue {
  background: linear-gradient(to bottom, #32bfbf, #43666d);
}

.outercontent .content .main .right a.green {
  background: linear-gradient(to bottom, #39b54a, #36743d);
}

.outercontent .content .main .right a.orange:hover {
  background: linear-gradient(to bottom, #d36d28, #f5a22b);
}

.outercontent .content .main .right a.blue:hover {
  background: linear-gradient(to bottom, #43666d, #32bfbf);
}

.outercontent .content .main .right a.green:hover {
  background: linear-gradient(to bottom, #36743d, #39b54a);
}

.outercontent .content .main .right img {
  height: 20em;
}

.social>* {
  padding: 1em;
  align-items: center;
}

.socialTitle {
  vertical-align: middle;
  font-size: 1.4em;
  color: #FFF;
  margin-bottom: 1em;
  transition: transform 250ms ease;
}

.socialTitle:hover {
  transform: scale(1.1);
  transition: transform 250ms ease;
}

.social iframe {
  max-height: 214px;
}

.tumblrFeedContainer {
  min-width: 100%;
  background: url('assets/stone_diorite.png');
}

.tumblrFeed {
  min-width: 100%;
  max-height: 214px;
  overflow: auto;
  box-shadow: inset 0 0 2em #000000;
  background-color: rgba(0, 0, 0, 0.8);
}

.tumblrFeed .post {
  display: block;
  padding: 0.6em 1em;
  transition: all 250ms ease;
}

.tumblrFeed .post:hover {
  transition: all 250ms ease;
  padding-left: 1.1em;
  background-color: rgba(0, 0, 0, 0.2);
}

.twitterFeedContainer {
  min-width: 100%;
  max-height: 214px;
  background: url('assets/stone_granite.png');
}

.twitterFeed {
  min-width: 100%;
  max-height: 214px;
  overflow: auto;
  box-shadow: inset 0 0 2em #000000;
  background-color: rgba(0, 0, 0, 0.8);
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex.row {
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.flex.col {
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.flex1 {
  flex: 1;
}

p {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #AAF;
}
